/* Aqui fica o CSS customizado */
html {
    position: relative;
    min-height: 100%;
}
body{
    padding-top:75px;
}

.navbar{
    min-height: 50px;
    height: 50px;

}

.navbar-inverse .navbar-collapse {
    border-color: #2196f3;
    background-color: #2196f3;
}

.navbar-brand {
    height: 25px;
    padding: 12px 15px;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 13px;
        padding-bottom:13px;
    }
}

.navbar-toggle {
    padding: 2px 10px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

label{
    font-size: 16px;
}