<div class="modal-dialog modal-medium">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Novo Produto</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form id="form-inserir-produto" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="Descricao" class="control-label">Descricao</label>
                            <input type="text" name="Descricao" class="form-control" id="Descricao">
                        </div>
                        <div class="col-md-6">
                            <label for="Cor" class=" control-label">Cor</label>
                            <input type="text" name="Cor" class="form-control " id="Cor" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="Tamanho" class=" control-label">Tamanho</label>
                            <input type="text" name="Tamanho" class="form-control " id="Tamanho">
                        </div>
                        <div class="col-md-6">
                            <label for="Preco" class="control-label">Preço</label>
                            <input type="text" name="Preco" class="form-control " id="Preco" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="SaldoEstoque" class="control-label">Saldo Estoque</label>
                            <input type="text" class="form-control" name="SaldoEstoque" id="SaldoEstoque" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Limpar</button>
            <button id="btn-salvar-cliente" type="button" onclick="inserirProduto();" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Fechar</button>
        </div>
    </div>
    <div id="alerta-produto"></div>
</div>
