<<<<<<< HEAD
﻿@*<script src="~/Scripts/Cliente/inserirCliente.js"></script>*@
=======
﻿
>>>>>>> 5b289786dfc4d3b6609d19beeedd2a4412834add
<div class="modal-dialog modal-medium">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Novo Cliente</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <form id="form-inserir-cliente" class="form-horizontal">
                    <div class="form-group">
                        <label for="Nome" class="col-md-1 control-label">Nome</label>
                        <div class="col-md-5">
                            <input type="text" name="Nome" class="form-control" id="Nome" placeholder="Nome">
                        </div>
                        <label for="Cpf" class="col-md-1 control-label">Cpf</label>
                        <div class="col-md-5">
                            <input type="text" name="Cpf" class="form-control cpf" id="Cpf" placeholder="Cpf" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DataNascimento" class="col-md-2 control-label">Nascimento</label>
                        <div class="col-md-4">
                            <input type="text" name="DataNascimento" class="form-control dt-nasc" id="DataNascimento" placeholder="Data de nascimento">
                        </div>
                        <label for="Telefone" class="col-md-2 control-label">Telefone</label>
                        <div class="col-md-4">
                            <input type="text" name="Telefone" class="form-control fone" id="Telefone" placeholder="Telefone" />
                        </div>
                    </div>
                    <div>
                        <label for="Email" class="col-md-2">Email</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Email" id="Email" placeholder="Email" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i> Limpar</button>
            <button id="btn-salvar-cliente" type="button" onclick="inserirCliente();" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Salvar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Fechar</button>
        </div>
    </div>
</div>
